
	//---------- HERO SECTION ----------//
.hero{
	height: 100vh;
	width: 100vw;
	background: url("../../images/content-bckgd.jpeg");
	background-position: center;
	background-size: cover;

	.title-block{
		background-color: $cobalt-blue;
		padding: 25px 15px;
		margin-top: 50px;
		height: fit-content;

	  @media #{$desktop}{
			max-width: 450px;
			padding: 25px 40px;
		}

		h2{
			color: $light-grey;
		}

		h5{
			color: $white;
			margin-top: 25px;
		}

	}

	.content_navigation{
		display: none;
	}

}

h4, h2{
		margin-bottom: 25px;
}


///////////

.section-column{
	margin-top: 40px;
	padding: 0 15px;

	// h4{
	// 	margin: 15px 0 25px 0;
	// }
}

.icon-container{
	width: 75px;
	height: 75px;

	img{
		width: 100%;
	}
}

// .gridsection{
// 	display: flex;
// 	@media #{$desktop}{
// 		display: grid;
// 		grid-template-columns: repeat(3, 1fr);
// 		grid-column-gap: 16px;
// 		padding: 50px 25px;
// 	}
// }






	//---------- ABOUT SECTION ----------//
	#contentAbout{
		flex-direction: column;

		// @media #{$desktop}{
		// 	display: grid;
		// 	grid-template-columns: repeat(3, 1fr);
		// 	grid-column-gap: 16px;
		// 	padding: 50px 25px;
		// }

		.about_title{

			.button{
				display: block;
				margin: 40px 0;
			}

		}

		.about_copy{
			//margin-top: 40px;

			p{
				margin-bottom: 40px;
			}
		}

		.about_quote{
			background-color: $cobalt-blue;
			padding: 25px 15px;

			.body-text{
				color: $light-grey;
				margin-top: 25px;
			}
		}

		.about_lovedby{
			margin-top: 40px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			@media #{$desktop}{
				grid-column: 1 / -1;
			}

			h5{
				width: 100%;
			}

			.logocontainer{
				width:100px;

				img{
					max-width: 100%;
				}
			}
		}
	}









	//---------- RESULTS SECTION ----------//
	#results{
		flex-direction: column;

		.results-title{
			grid-column: 1 / -1;
			//grid-row-start: 1;
		}
	}









	//---------- FINAL SECTION ----------//
	#finalSection{
		flex-direction: column;

		@media #{$desktop}{
			padding: 50px 40px;
		}

		@media screen and (min-width: 1080px){
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 16px;
			align-items: center;
		}

		.final-title{
			@media screen and (min-width: 1080px){
				grid-column: 1 / -1;
			}
		}

		.section-image{
			margin-top: 40px;
			max-width: 100%;

			@media screen and (min-width: 1080px){
				grid-column: 2/-1;
				grid-row: 2 / 3;
			}

			img{
				max-width: 100%;
			}
		}

		.paragraph-grid{

			@media #{$desktop}{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 16px;
			}

			@media screen and (min-width: 1080px){
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}

			p{
				margin: 12.5px 0;
			}
		}
	}









	//---------- CALL TO ACTION ----------//
	.call-to-action{
		flex-direction: column;

		@media #{$tablet}{
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.button{
			@media #{$tablet}{
				margin: 0;
			}
		}
	}









	//----------CLIENT CASES----------//
	 .tile-section, .sitesection.tile-section{
			 flex-direction: column;
			 .client-title{
					 margin-bottom: 40px;
					 // h4, h2{
						// 	 margin-bottom: 25px;
					 // }
			 }
	 }
	 .content-tile{
			 width: 100%;
			 -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.1);
			 -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.1);
			 box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.1);
			 padding: 20px 10px;
			 border-radius: 5px;
			 margin-bottom: 25px;
			 @media #{$desktop}{
					 display: grid;
					 grid-template-columns: 1fr 1fr;
					 grid-column-gap: 40px;
			 }
			 .tile-image-container{
					 max-width: 100%;
					 overflow: hidden;
					 img{
							 max-width: 100%;
							 @media #{$desktop}{
									 max-width: none;
									 max-height: 100%;
							 }
					 }
			 }
			 h4{
					 margin-bottom: 25px;
			 }
	 }
