footer{
	background-color: $charcoal;
	padding-top: 50px;

	@media #{$tablet}{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer-container{

		@media #{$desktop}{
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			max-width: 1200px;
			margin: 0 auto;
		}
	}

	.footer_brandinfo{

		@media #{$tablet}{
			max-width: 40%;
		}

		@media #{$desktop}{
			max-width: 60%;
			justify-self: start;
		}

		.logo-container{
			width: 90%;
	        overflow: hidden;

	        @media screen and (min-width: 400px){
	        	width: 200px;
	        }

	        @media #{$desktop}{
	            width: 150px;
	        }

	        img{
	            max-width: 100%;
	        }
		}

		.body-text{
			margin: 15px 0;
			padding: 15px;
			font-size: 12px;
			color: $white;
		}
	}

	.footer_navigation{
		margin: 15px 0;
		padding: 15px;

		@media #{$tablet}{
			width: 45%;
			display: flex;
			justify-content: space-between;
		}

		@media #{$desktop}{
			width: 60%;
			justify-self: end;
			//display: block;
		}

		div{
			margin-bottom: 25px;

			.footer_subtitle{
				color: $white;
				text-transform: uppercase;
			}

			ul{
				list-style-type: none;
				li{
					margin: 5px 0;
					a{
						text-decoration: none;
						color: $white;
					}
				}
			}
		}
	}

	.footer_socialnavigation{
		background-color: $charcoal;
		display: flex;
		flex-direction: column-reverse;
		padding: 25px 16px;

		@media #{$tablet}{
			width: 100vw;
			flex-direction: row;
			justify-content: space-between;
		}

		@media #{$desktop}{
			width: 100%;
			grid-column: 1 / -1;
		}

		.copyright{
			font-size: 12px;
			color: $white;
		}

		ul{
			list-style-type: none;
			display: flex;
			li{
				margin: 0 5px;
				a{
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
}
