.contact-section{
  max-width: 1200px;
  margin: 0 auto;

  @media #{$desktop}{
    justify-content: space-between;
  }

  .contact-copy{
    max-width: 45%;
  }
}

.form{
  margin-top: 40px;

  @media #{$desktop}{
    min-width: 35%;

    margin-left: 100px;
    margin-top: 0px;
  }

  form{
    display: flex;
    flex-direction: column;

    .button{
      border: none;
    }
  }

  input, textarea{
    border: none;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 25px;
  }
}
