#landingPage{
    height: 100vh;
    background: url("../../images/bckgd.jpg");
    background-size: cover;
    background-position: center;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    .landingPage_content{
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	height: 100%;
    	padding: 0px 16px;
    	position: relative;
    	//top: 56px;
    	background-color: rgba($cobalt-blue, 0.8);

    	.site-title{
    		color: $white;
    		//max-width: 80%;
    		text-align: center;
    	}

    	.body-text{
    		color: $paint-white;
    	}

    	.main-button{
    		position: absolute;
    		bottom: 20px;

    		@media #{$desktop}{
    			bottom: 50%;
    			margin-bottom: -200px;
    		}
    	}

    	.landingPage_explore{
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		position: absolute;
    		bottom: 20px;
    		left: 50%;
    		margin-left: -44px;

   			.explore-text{
   				font-size: 25px;
   				margin-bottom: 10px;
   				text-align: center;
   			}

   			.explore-arrow{
				border-left: 12px solid transparent;
			    border-right: 12px solid transparent;
			    border-top: 12px solid $white;
			    margin: 0;
                //margin-top: 90px;
   			}
    	}
    }
}






.bckgd-container{
    background: linear-gradient(-45deg, $light-grey 55%, $white 55%, $white 100%);

    @media #{$tablet}{
        background: linear-gradient(-45deg, $light-grey 45%, $white 45%, $white 100%);
    }

    @media #{$desktop}{
        background: linear-gradient(-25deg, $light-grey 55%, $white 55%, $white 100%);
    }
}


    //---------- WHO WE ARE SECTION ----------//
#whoWeAre{
    
    // background: linear-gradient(-45deg, $light-grey 25%, $white 25%, $white 100%);

    // @media #{$desktop}{
    //     background: linear-gradient(to bottom right, $white 70%, $light-grey 70%, $light-grey 100%);
    // }
    @media #{$desktop}{
               // display: flex;
                flex-direction: row-reverse;
                align-items: center;
                //padding-left: 70px;
                //padding-top: 50px;
            }

    //.whoWeAre_content{
        

        .whoWeAre_img{
            max-width: 80%;
            margin: 0 auto;
            overflow: hidden;
            margin-bottom: 50px;

            img{
                max-width: 100%;
            }
        }

        .whoWeAre_copy{

            @media #{$desktop}{
                max-width: 60%;
            }

            h5{
                font-family: 'OpenSans-light';
                //margin-bottom: 25px;
            }

            h2{
                @media #{$tablet}{
                    max-width: 80%;
                }
            }

            p{
                @media #{$tablet}{
                    max-width: 90%;
                }
            }
    }
}









    //---------- CLIENTS SECTION ----------//

#ourClients{

    @media #{$desktop}{
        margin-top: 100px;
        flex-wrap: wrap;
        //padding: 50px 70px 100px 70px;

    }

    h2{
        width: 100%;
    }

    .clients_logos{
        width: 100%;
        margin-top: 50px;
        padding: 0px 16px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;

        .logocontainer{
            margin: 0 15px;
            width: 150px;
            height: 150px;
            overflow: hidden;

            img{
                max-width: 100%;
            }
        }
    }
}









    //---------- NEWSLETTER SECTION -----------//
#newsletter{
    background-color: $white;

    @media #{$desktop}{
        //display: flex;
        align-items: center;
        justify-content: space-between;
        //padding: 50px 70px;
    }

    .image-container{
        max-width: 80%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 50px;

        @media #{$desktop}{
            max-width: 500px;
            margin: 0;
        }

        img{
            max-width: 100%;
        }
    }
}

