#landingPage{
    height: 100vh;
    background: url("../../images/bckgd.jpg");
    background-size: cover;
    background-position: center;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    .landingPage_content{
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	height: 100%;
    	padding: 0px 16px;
    	position: relative;
    	//top: 56px;
    	background-color: rgba($cobalt-blue, 0.8);

    	.site-title{
    		color: $white;
    	}

    	.body-text{
    		color: $paint-white;
    	}

    	.main-button{
    		position: absolute;
    		bottom: 20px;
    	}
    }
}