@import 'stylevars';
@import 'header';
@import 'landing';

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:border-box;
}
   
.hide{
    display:none;
}

.sitesection{
    padding: 50px 16px;
}

.button{
    padding: 21px 34px;
    max-width: 225px;
    background-color: $electric-yellow;
    color: $charcoal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'OpenSans-regular';
    font-size: 16px;
}

.downarrow{
    display: block;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $white;
    margin-left: 7px;
}

